@font-face {
  font-family: 'Gustavo' ;
  src: url(font/comune.otf);
}




body {
 margin:0;
 

}

canvas {
  cursor: url(IMG/faccina.png),auto;
}



 /*-----------------------------------------------------------> BUTTONS*/ 




#sendittome {
 position: absolute;
 bottom: 3vh;
 left: 3vh;
 text-align: center;
 height: 7vh;
 width: 14vh;
 background-color: #f7f0e6;
 border: black;
 font-family: 'Gustavo';
 border-radius: 4vh;
 border-color: black;
 border:solid;
 border-width: 0.12vh;
 color: black;
 font-size: 2.2vh;
 cursor: pointer;
 

}
#sendittome:hover {
 background-color: rgb(20,20,20);
  color: white;
}
#doitagain {
 position: absolute;
 bottom: 3vh;
 left: 19.0vh;
 height: 7vh;
 width: 14vh;
 background-color: #f7f0e6;
 border-radius: 4vh;
 border-color: black;
 border:solid;
 border-width: 0.12vh;
 cursor: pointer;
 font-family: 'Gustavo';
 font-size: 2.2vh;
 
 text-align: center;
}
#doitagain:hover {
 background-color: rgb(20,20,20);
  color: white;
}
